  /* Webkit 기반 브라우저의 스크롤바 스타일 */
  ::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
    height: 10px; /* 가로 스크롤바 높이 */
  }

  ::-webkit-scrollbar-track {
    background: #E9D1F3; /* 트랙 배경색 */
    border-radius: 10px; /* 둥근 모서리 */
  }

  ::-webkit-scrollbar-thumb {
    background: #AC5ACD; /* 슬라이더 색상 */
    border-radius: 10px; /* 둥근 모서리 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #622385 ; /* 마우스 오버 시 색상 변경 */
  }